span {
  padding-left: 50px;
  margin-left: 20px;
}
.active {
  border: solid 3px black;
}
.content {
  padding: 10px;
  border: solid 3px red;
}
.btn {
  margin-bottom: 20px;
}
.btn_insize {
  margin-right: 20px;
}
.container-colorpick {
  text-align: center;
}
