// .container {
//   .panel_title {
//     color: #8a6d3b;
//     background-color: #fcf8e3;
//     border-color: #faebcc;
//   }
// }
.container {
  .panel {
    border: 1px solid #faebcc;
    .panel_heading {
      color: #8a6d3b;
      background-color: #fcf8e3;
      border-color: #faebcc;
    }
    .panel_body {
    }
  }
}
